<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
    <add name="SchoolDB"
         providerName="System.Data.SqlClient"
         connectionString="Server=127.0.0.1,1433;Database=SchoolDB; initial catalog=SchoolDB; User Id=SA;Password=elwynComplexp@ssw0rd2022"/>
  </connectionStrings>
</configuration>
